.hero-section {
  position: relative;
  top: 10%;
  font: 700 9vw/1 "Playfair Display", serif;
//   @font-face {
//     font-family: 'GmarketSansMedium';
//     src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
//     font-weight: 700;
//     font-style: normal;
// font-size: 92px;
// }

  color: #597445;
  // color: #133E35;
}
