@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #EEEAE2;
}

::-webkit-scrollbar {
  display: none;
}

.gallery {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 2000px;
  transform-style: preserve-3d;
}

.container {
  height: 6%;
}

.cards li {
  list-style: none;
  width: 30rem;
  height: 40rem;
  background-color: #d1d1d1;
  text-align: center;
  line-height: 35rem; /* 카드 높이에 맞춘 라인 높이 조정 */
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 20% 20% 200px; /* Adjusted to make the effect more curved */
  transform: rotateY(calc(var(--i) * 36deg));
  filter: brightness(50%);
}

.center-card {
  filter: brightness(90%) !important;
}

.cardDesc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.cardDesc-container .center-card-text {
  position: fixed;
  bottom: 16%;
  left: 50%;
  transform: translate(-50%, -2%);
  font-size: 1.2rem;
  font-weight: 600;
}
.cardDesc-container .card-status {
  position: fixed;
  bottom: 11%;
  left: 50%;
  transform: translate(-50%, -12%);
  font-size: 1rem;
}
.cardDesc-container label progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: -webkit-baseline-middle;
  margin: 0 10px;
}
.cardDesc-container label progress::-webkit-progress-bar {
  background: #f0f0f1;
  border: 1px solid #eeeeee;
  height: 4px;
  overflow: hidden;
}
.cardDesc-container label progress::-webkit-progress-value {
  background: gray;
  height: 28px;
  width: 48px;
}

.hero-section {
  position: relative;
  top: 10%;
  font: 700 9vw/1 "Playfair Display", serif;
  color: #597445;
}

.recipeItem-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin: 200px auto;
}
.recipeItem-container .recipe-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  flex-shrink: 0;
}
.recipeItem-container .recipe-item .recipe-item-desc {
  width: 60%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 92px;
  padding: 0 min(3rem, 30px);
  z-index: 100;
}
header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #133E35;
}

.recopeMenu-contianer .hero-section {
  margin-top: 92px;
}
.recopeMenu-contianer .menuDesc-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
}
.recopeMenu-contianer .menuDesc-container .menu-desc {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 500px;
  font-size: 24px;
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */