* {
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  min-height: 100vh;
  padding: 0;
  margin: 0;

  background-color: #EEEAE2;
}
::-webkit-scrollbar {
  display: none;
}
